@use '@/styles/nourishubs-variables' as variables;

// body {
//   background-color: variables.$nh-primary-color;
// }

// body {
//   color: variables.$nh-primary-color !important;
// }

// .nh-dashboard-layout {
//   //   color: variables.$nh-primary-color !important;
//   color: var(--mui-palette-customColors-nh-landingColor) !important;
// }

// .nh-blank-layout {
//   h1,h2,h3,h4,h5,h6 {
//     font-family: 'Poppins', sans-serif !important;
//     color: var(--nh-title-color);
//   }

//   a {
//     font-family: "Mulish", sans-serif !important;
//   }

//   label, input,span {
//     font-family: "Mulish", sans-serif !important;
//   }

//   p {
//     font-family: "Mulish", sans-serif !important;
//     color: rgba(0, 0, 0, 0.8) !important;
//   }
//   .login-main {
//     position: relative;
//     .login-main-left {
//       @media screen and (max-width: 991px) {
//         width: 50% !important;
//         display: none !important;
//       }
//     }
//   }
//   .login-auth-block-main {
//     justify-content: flex-start !important;
//     align-items: flex-start !important;
//     padding-top: 100px;
//     @media screen and (max-width: 991px) {
//       width: 100% !important;
//       padding: 25px !important;
//       padding-top: 95px !important;
//       display: block !important;
//     }
//     @media screen and (max-width: 767px) {
//       width: 100% !important;
//       padding: 15px !important;
//       padding-top: 95px !important;
//     }
//     .login-auth-block {
//       @media screen and (max-width: 991px) {
//         width: 100%;
//         max-width: 100%;
//         max-inline-size: 100% !important;
//       }
//       .login-auth-block-title {
//         padding-bottom: 50px;
//         @media screen and (max-width: 991px) {
//           padding-bottom: 20px;
//         }
//         h4 {
//           font-weight: 700;
//           margin-bottom: 10px;
//           font-size: 32px;
//           line-height: 40px;
//           @media screen and (max-width: 991px) {
//             font-size: 26px;
//             line-height: 32px;
//           }
//         }
//         p {
//           font-size: 18px;
//           line-height: 22px;
//           @media screen and (max-width: 991px) {
//             font-size: 16px;
//             line-height: 24px;
//           }
//         }
//       }
//       .login-auth-form {
//         .login-auth-form-input {
//           label {
//             font-size: 16px;
//             line-height: 20px;
//             color: rgba(0, 0, 0, 0.8);
//             margin-bottom: 10px;
//             font-weight: 500;
//             display: block;
//             font-family: 'Mulish', sans-serif;
//             @media screen and (max-width: 991px) {
//               font-size: 14px;
//               line-height: 18px;
//               margin-bottom: 5px;
//             }
//           }
//           p.Mui-error {
//             color: var(--mui-palette-error-main) !important;
//           }
//           .MuiInputBase-root {
//             border: none !important;
//             background: transparent;
//             box-shadow: none !important;
//             position: relative;
//             padding: 0px;
//           }
//           input {
//             font-family: "Mulish", sans-serif;
//             padding: 11px 20px;
//             border: 1px solid rgba(0, 0, 0, 0.15);
//             outline: none;
//             box-shadow: none;
//             width: 100%;
//             border-radius: 10px;
//             font-size: 16px;
//             color: var(--nh-title-color);
//             position: relative;
//             &::-webkit-input-placeholder {
//               /* WebKit, Blink, Edge */
//               color: rgba(0, 0, 0, 0.7) !important;
//             }
//             &:-moz-placeholder {
//               /* Mozilla Firefox 4 to 18 */
//               color: rgba(0, 0, 0, 0.7) !important;
//               opacity: 1;
//             }
//             &::-moz-placeholder {
//               /* Mozilla Firefox 19+ */
//               color: rgba(0, 0, 0, 0.7) !important;
//               opacity: 1;
//             }
//             &:-ms-input-placeholder {
//               /* Internet Explorer 10-11 */
//               color: rgba(0, 0, 0, 0.7) !important;
//             }
//             &::-ms-input-placeholder {
//               /* Microsoft Edge */
//               color: rgba(0, 0, 0, 0.7) !important;
//             }

//             &::placeholder {
//               /* Most modern browsers support this now. */
//               color: rgba(0, 0, 0, 0.7) !important;
//             }
//             &:focus {
//               border-color: var(--primary-color);
//             }
//             @media screen and (max-width: 991px) {
//               font-size: 14px;
//               line-height: 18px;
//             }
//           }
//           .icon-eye-password {
//             position: absolute;
//             top: 25px;
//             right: 20px;
//           }

//         }
//         .forgot-link-block {
//           position: relative;
//           margin-top: -10px;
//           a {
//             font-size: 16px;
//           }
//         }
//         .checkbox-input-block {
//           .MuiTypography-root {
//             font-size: 16px;
//             color: rgba(0, 0, 0, 0.8) !important;
//           }
//           p.Mui-error {
//             color: var(--mui-palette-error-main) !important;
//           }
//         }
//         .custom-login-btn {
//           margin-top: 15px;
//           padding: 14px;
//           font-family: 'Poppins', sans-serif !important;
//           font-weight: 600;
//           font-size: 18px;
//           border-radius: 10px;
//           @media screen and (max-width: 991px) {
//             margin-top: 0px;
//           }
//         }
//         .last-link-block  {
//           flex-direction: column;
//           p {
//             color: var(--primary-color) !important;
//             font-size: 18px;
//             line-height: 20px;
//             font-weight: 700;
//             display: block;
//             &.email-text-otp {
//               color: rgba(0, 0, 0, 0.8) !important;
//               font-weight: 400;
//               margin-bottom: 10px;
//             }
//             @media screen and (max-width: 991px) {
//               font-size: 16px;
//               line-height: 20px;
//             }
//           }
//         }
//         .otp-text-block {
//           justify-content: space-between !important;
//           p {
//             font-size: 16px;
//             line-height: 20px;
//             @media screen and (max-width: 991px) {
//               font-size: 14px;
//               line-height: 18px;
//             }
//           }
//           .resend-block-color {
//             color: var(--primary-color) !important;
//             font-weight: 600;
//             text-decoration: underline !important;
//           }
//         }
//       }
//     }
//   }
// }

.nh-dashboard-layout {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Poppins', sans-serif !important;
  }

  a {
    font-family: 'Mulish', sans-serif !important;
  }

  /** nav header css **/
  .ts-vertical-nav-root {
    .ts-vertical-nav-container {
      .ts-vertical-nav-bg-color-container {
        .ts-vertical-nav-header {
          position: relative;
          span {
            position: absolute;
            right: -1px;
          }
        }
      }
    }
  }
  /** nav header css **/

  // label, input,span {
  //   font-family: "Mulish", sans-serif !important;
  // }
  .bg-theme-icon {
    background-color: var(--primary-color) !important;
  }
  .theme-common-btn {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Mulish', sans-serif;
    color: #fff;
    border-radius: 10px;
    padding: 9px 30px;
    max-width: 160px;
    white-space: nowrap;
    &.min-width-auto {
      min-width: 160px;
      max-width: initial;
    }
    &.theme-btn-color {
      background-color: var(--primary-color);
    }
    &.small-table-font {
      font-size: 16px;
    }
  }
  .theme-common-btn-second {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Mulish', sans-serif;
    color: #fff;
    border-radius: 10px;
    padding: 9px 30px;
    max-width: 160px;
    background-color: #8cc342;
  }
  .theme-common-btn-border {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Mulish', sans-serif;
    color: #006838;
    border-radius: 10px;
    padding: 9px 30px;
    max-width: 160px;
    border: 1px solid #006838;
    background: transparent;
    &:hover {
      color: #fff;
      background-color: #006838;
    }
  }

  .theme-common-btn-red-border {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Mulish', sans-serif;
    color: #f00;
    border-radius: 10px;
    padding: 9px 30px;
    max-width: 160px;
    border: 1px solid #f00;
    white-space: nowrap;
    &.min-width-auto {
      min-width: 160px;
      max-width: initial;
    }
    &.theme-btn-color {
      background-color: #f00;
      color: #fff;
    }
    &.small-table-font {
      font-size: 16px;
    }
  }

  .theme-common-btn-inprogress {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Mulish', sans-serif;
    color: #fff;
    border-radius: 10px;
    padding: 9px 30px;
    max-width: 160px;
    background-color: #b89b07;
  }
  p {
    font-family: 'Mulish', sans-serif !important;
  }
  .top-block-card {
    .card-block-inner {
      display: flex;
      flex-wrap: wrap;
      margin: 0px -15px;
      &.two-block-card {
        .card-block {
          width: 50%;
        }
      }
      &.four-block-card {
        .card-block {
          width: 25%;
          @media screen and (max-width: 1400px) {
            width: 50%;
          }
        }
      }
      .card-block {
        width: 33.33%;
        padding: 0px 15px 30px;
        @media screen and (max-width: 1400px) {
          width: 50%;
        }
        &.active {
          .MuiPaper-root {
            .MuiCardContent-root {
              background: linear-gradient(
                270deg,
                rgb(var(--mui-palette-primary-mainChannel) / 0.7) 0%,
                var(--mui-palette-primary-main) 100%
              ) !important;
              h4,
              p {
                color: #fff !important;
              }
              .custom-avatar {
                background-color: rgba(255, 255, 255, 0.8);
              }
              .number-text-block {
                h4,
                p {
                  color: #fff !important;
                }
              }
            }
          }
        }
        a {
          display: block;
          .MuiPaper-root {
            background-color: #fff;
            box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.04);
            .MuiCardContent-root {
              padding: 20px;
              border-radius: 6px;
              transition: 0.5s;
              &:hover {
                background: linear-gradient(
                  270deg,
                  rgb(var(--mui-palette-primary-mainChannel) / 0.7) 0%,
                  var(--mui-palette-primary-main) 100%
                ) !important;
                h4,
                p {
                  color: #fff;
                }
                .custom-avatar {
                  background-color: rgba(255, 255, 255, 0.8);
                }
                .number-text-block {
                  h4,
                  p {
                    color: #fff;
                  }
                }
              }
              h4 {
                font-size: 20px;
                line-height: 24px;
                color: var(--nh-title-color);
                text-transform: capitalize;
                @media screen and (max-width: 1499px) {
                  font-size: 15px;
                  line-height: 20px;
                }
              }
              p {
                color: rgba(0, 0, 0, 0.4);
                font-size: 16px;
                line-height: 20px;
                @media screen and (max-width: 1499px) {
                  font-size: 14px;
                  line-height: 18px;
                }
              }
              .number-text-block {
                margin-top: 20px;
                .number-text-block-inner {
                  justify-content: space-between;
                }
                h4 {
                  font-size: 30px;
                  line-height: 30px;
                  color: var(--nh-title-color);
                  font-weight: 600;
                  @media screen and (max-width: 1499px) {
                    font-size: 24px;
                    line-height: 30px;
                  }
                }
                p {
                  color: var(--primary-color);
                  font-size: 18px;
                  line-height: 20px;
                  font-weight: 600;
                  @media screen and (max-width: 1499px) {
                    font-size: 15px;
                    line-height: 20px;
                  }
                }
              }
            }
          }
        }
        .card-link-a {
          display: block;
          &.MuiPaper-root {
            background-color: #fff;
            box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.04);
            .MuiCardContent-root {
              padding: 20px;
              border-radius: 6px;
              transition: 0.5s;
              &:hover {
                background: linear-gradient(
                  270deg,
                  rgb(var(--mui-palette-primary-mainChannel) / 0.7) 0%,
                  var(--mui-palette-primary-main) 100%
                ) !important;
                h4,
                p {
                  color: #fff;
                }
                .custom-avatar {
                  background-color: rgba(255, 255, 255, 0.8);
                }
                .number-text-block {
                  h4,
                  p {
                    color: #fff;
                  }
                }
              }
              h4 {
                font-size: 20px;
                line-height: 24px;
                color: var(--nh-title-color);
                text-transform: capitalize;
                @media screen and (max-width: 1499px) {
                  font-size: 15px;
                  line-height: 20px;
                }
              }
              p {
                color: rgba(0, 0, 0, 0.4);
                font-size: 16px;
                line-height: 20px;
                @media screen and (max-width: 1499px) {
                  font-size: 14px;
                  line-height: 18px;
                }
              }
              .number-text-block {
                margin-top: 20px;
                .number-text-block-inner {
                  justify-content: space-between;
                }
                h4 {
                  font-size: 30px;
                  line-height: 30px;
                  color: var(--nh-title-color);
                  font-weight: 600;
                  @media screen and (max-width: 1499px) {
                    font-size: 24px;
                    line-height: 30px;
                  }
                }
                p {
                  color: var(--primary-color);
                  font-size: 18px;
                  line-height: 20px;
                  font-weight: 600;
                  @media screen and (max-width: 1499px) {
                    font-size: 15px;
                    line-height: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .common-block-dashboard {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    margin-bottom: 30px;
    overflow: visible;
    font-family: 'Poppins', sans-serif;
    &.table-block-no-pad {
      padding: 0px;
      .common-block-title {
        padding: 20px;
        margin-bottom: 10px;
      }
    }
    .app-calendar {
      .fc-event {
        padding: 10px;
        border: none;
        background-color: rgb(0, 93, 50, 0.2);
        border-radius: 10px;
        .calender-flow-name {
          font-size: 16px;
          line-height: 20px;
          font-weight: 600;
          color: rgb(0, 93, 50);
          margin-bottom: 10px;
          white-space: normal;
        }
        .MuiButtonBase-root {
          font-size: 16px;
          font-weight: 700;
          font-family: 'Mulish', sans-serif;
          color: #fff;
          border-radius: 10px;
          padding: 8px 5px 10px;
          background-color: rgb(0, 93, 50);
          height: 38px;
        }
      }
      .fc-toolbar-chunk {
        .fc-button-group {
          button {
            font-family: 'Mulish', sans-serif !important;
            font-weight: 600 !important;
            font-size: 16px !important;
            &.fc-button-active {
              background-color: rgb(0, 93, 50) !important;
              color: #fff !important;
            }
          }
        }
      }
    }
    .common-block-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      .w-100 {
        width: 100%;
      }
      h4 {
        font-size: 20px;
        line-height: 24px;
        // font-weight: 600;
        font-weight: 600;
        margin: 0px;
      }
      .MuiCardHeader-title {
        font-size: 20px;
        line-height: 24px;
        // font-weight: 600;
        font-weight: 500;
        margin: 0px;
        color: var(--nh-title-color);
        font-family: 'Poppins', sans-serif;
      }
      .MuiFormControl-root {
        width: 200px;
      }
      .button-group-block {
        display: flex;
        align-items: center;
        margin: 0px -10px;
        .button-group-block-inner {
          padding: 0px 10px;
        }
      }
    }
    .two-block-form {
      display: flex;
      margin: 0 -15px;
      .form-group {
        padding: 0px 15px;
        width: 50%;
      }
    }
    .form-group {
      // margin-bottom: 20px;
      .label-block-subtitle {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 10px !important;
        color: rgba(0, 0, 0, 0.8);
        font-weight: 500;
        font-family: 'Mulish', sans-serif;
      }
      &.address-fill-common {
        .MuiFormControl-root {
          .MuiInputBase-root {
            padding: 0px !important;
          }
        }
        .diff-select-block {
          .MuiInputBase-root {
            .MuiSelect-select {
              border: 1px solid rgba(0, 0, 0, 0.15);
              padding: 11px 30px 11px 20px !important;
              border-radius: 10px;
            }
          }
        }
      }
      .MuiFormLabel-root {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 10px;
        color: rgba(0, 0, 0, 0.8);
        font-weight: 500;
        font-family: 'Mulish', sans-serif;
      }
      .MuiFormControl-root {
        .MuiInputBase-root {
          border: none !important;
          padding: 0px;
          box-shadow: none !important;
          background: transparent;
        }
        .Mui-focused {
          input {
            padding: 11px 20px !important;
            padding-block: 0px;
            padding-inline: 20px !important;
          }
          .MuiInputBase-root {
            border: none !important;
            padding: 0px;
            box-shadow: none !important;
            background: transparent;
          }
        }
      }
      textarea {
        font-family: 'Mulish', sans-serif;
        padding: 11px 20px !important;
        border: 1px solid rgba(0, 0, 0, 0.15);
        outline: none;
        box-shadow: none;
        width: 100%;
        font-size: 16px;
        border-radius: 10px;
        color: var(--nh-title-color);
        height: 100px;
        &::-webkit-input-placeholder {
          /* WebKit, Blink, Edge */
          color: rgba(0, 0, 0, 0.7);
        }
        &:-moz-placeholder {
          /* Mozilla Firefox 4 to 18 */
          color: rgba(0, 0, 0, 0.7);
          opacity: 1;
        }
        &::-moz-placeholder {
          /* Mozilla Firefox 19+ */
          color: rgba(0, 0, 0, 0.7);
          opacity: 1;
        }
        &:-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: rgba(0, 0, 0, 0.7);
        }
        &::-ms-input-placeholder {
          /* Microsoft Edge */
          color: rgba(0, 0, 0, 0.7);
        }
        &:focus {
          border-color: var(--primary-color);
        }
        &.MuiAutocomplete-input {
          padding-inline: 20px !important;
        }
      }
      input {
        font-family: 'Mulish', sans-serif;
        padding: 11px 20px !important;
        border: 1px solid rgba(0, 0, 0, 0.15);
        outline: none;
        box-shadow: none;
        width: 100%;
        font-size: 16px;
        border-radius: 10px;
        color: var(--nh-title-color);
        // height: 50px;
        &::-webkit-input-placeholder {
          /* WebKit, Blink, Edge */
          color: rgba(0, 0, 0, 0.7);
        }
        &:-moz-placeholder {
          /* Mozilla Firefox 4 to 18 */
          color: rgba(0, 0, 0, 0.7);
          opacity: 1;
        }
        &::-moz-placeholder {
          /* Mozilla Firefox 19+ */
          color: rgba(0, 0, 0, 0.7);
          opacity: 1;
        }
        &:-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: rgba(0, 0, 0, 0.7);
        }
        &::-ms-input-placeholder {
          /* Microsoft Edge */
          color: rgba(0, 0, 0, 0.7);
        }
        &:focus {
          border-color: var(--primary-color);
        }
        &.MuiAutocomplete-input {
          padding-inline: 20px !important;
        }
      }
      &.select-input-common {
        .MuiInputBase-root {
          font-family: 'Mulish', sans-serif;
          padding: 4px 20px 4px 6px;
          border: 1px solid rgba(0, 0, 0, 0.15) !important;
          outline: none;
          box-shadow: none;
          width: 100%;
          font-size: 16px;
          border-radius: 10px;
          color: var(--nh-title-color);
        }
        .MuiInputBase-input:not(textarea).MuiInputBase-inputSizeSmall {
          padding: 7.25px 14px !important;
        }
      }
      .react-tel-input {
        .selected-flag {
          height: 50px;
        }
        > input {
          font-family: 'Mulish', sans-serif;
          padding: 13px 20px 12px 60px !important;
          border: 1px solid rgba(0, 0, 0, 0.15);
          outline: none;
          box-shadow: none;
          width: 100%;
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 12px;
          color: rgba(0, 0, 0, 0.8);
          font-weight: 500;
          font-family: 'Mulish', sans-serif;
          border-radius: 10px;
          color: var(--nh-title-color);
          // height: 50px;
          &::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */
            color: rgba(0, 0, 0, 0.7);
          }
          &:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: rgba(0, 0, 0, 0.7);
            opacity: 1;
          }
          &::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: rgba(0, 0, 0, 0.7);
            opacity: 1;
          }
          &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: rgba(0, 0, 0, 0.7);
          }
          &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: rgba(0, 0, 0, 0.7);
          }

          &::placeholder {
            /* Most modern browsers support this now. */
            color: rgba(0, 0, 0, 0.7);
          }
          &:focus {
            border-color: var(--primary-color);
          }
          @media screen and (max-width: 1499px) {
            padding: 10px 20px;
            font-size: 15px;
          }
        }
        .flag-dropdown {
          .selected-flag {
            .arrow {
              background-image: url('data:image/svg+xml,<svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_7075_3)"><path d="M0.412893 2.72956L4.01989 6.11334C4.56303 6.62287 5.44041 6.62287 5.98354 6.11334L9.59054 2.72956C10.4679 1.90648 9.84122 0.495483 8.60175 0.495483H1.38776C0.148287 0.495483 -0.464485 1.90648 0.412893 2.72956Z" fill="black" fill-opacity="0.3"/></g><defs><clipPath id="clip0_7075_3"><rect width="10" height="7" fill="white"/></clipPath></defs></svg>');
              border: none;
              background-size: contain;
              width: 8px;
              height: 6px;
              left: 32px;
            }
          }
          .country-list {
            font-family: 'Mulish', sans-serif;
            .search {
              padding: 10px;
              input {
                margin: 0px;
                padding: 10px;
                font-size: 14px;
                border: 1px solid rgba(0, 0, 0, 0.15);
                width: 100%;
              }
            }
            .country {
              &:hover,
              &.highlight {
                background-color: rgba(0, 104, 56, 0.3);
              }
            }
          }
        }
      }
    }
    .kids-profile-me {
      padding: 20px;
      .radio-check-me {
        .MuiButtonBase-root {
          padding: 0px;
          svg {
            transform: scale(1.4);
            path {
              stroke: var(--primary-color);
            }
          }
        }
        .title-semi-medium-custom {
          padding-left: 15px;
        }
      }
      .details-kids-profile {
        padding: 20px 0px 10px;
        .title-small-medium-custom {
          margin-bottom: 10px;
        }
      }
      .details-kids-profile {
        padding-top: 15px;
      }
    }
    .common-datepiker-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
      .MuiCardHeader-content {
        .MuiTypography-root {
          font-size: 20px;
          line-height: 24px;
          font-weight: 600;
          margin: 0px;
          font-family: 'Poppins', sans-serif;
        }
      }
      .react-datepicker-wrapper {
        .react-datepicker__input-container {
          .MuiFormControl-root {
            .Mui-focused {
              input {
                padding-inline: 20px !important;
              }
            }
          }
        }
      }
    }
  }
  .last-dashboard-block {
    display: flex;
    margin: 0px -15px;
    .last-dashboard-block-inner {
      width: 50%;
      padding: 0px 15px;
      .common-block-dashboard {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .text-left-block {
          h4 {
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 3px;
            font-weight: 500;
          }
          p {
            color: rgba(0, 0, 0, 0.4);
            font-size: 16px;
            line-height: 22px;
          }
        }
        h2 {
          font-size: 30px;
          line-height: 36px;
          font-weight: 600;
        }
      }
    }
  }
  .manage-user-block {
    display: flex;
    align-items: center;
    width: 100%;
    .manage-user-block-left {
      width: 50%;
      .top-block-card {
        .card-block-inner {
          .card-block {
            width: 70%;
          }
        }
      }
    }
    .manage-user-block-right {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      width: 50%;
    }
  }
  .two-block-card-common {
    display: flex;
    flex-wrap: wrap;
    .two-block-card-common-inner {
      width: 50%;
      padding: 0px 0px 30px;
      background: transparent;
      box-shadow: none;
      border: none;
      &:nth-child(odd) {
        padding-right: 15px;
      }
      &:nth-child(even) {
        padding-left: 15px;
      }
      .two-block-card-common-block {
        padding: 20px;
        background-color: #fff;
        box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.04);
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        .top-block-user-create {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;
          h6 {
            font-size: 20px;
            line-height: 20px;
            font-weight: 500;
          }
        }
        .two-block-user-middle {
          margin-bottom: 20px;
          p {
            color: #999;
            color: rgba(0, 0, 0, 0.8);
            font-size: 18px;
            line-height: 24px;
            font-weight: 500;
            margin-bottom: 5px;
            span {
              font-weight: 400;
              color: #999;
              font-size: 16px;
            }
          }
        }
        .two-block-user-bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .right-two-block {
            .edit-icon-block {
              button {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: none;
                outline: none;
                background-color: var(--primary-color);
                padding: 0px;
                min-width: auto;
                i {
                  color: #fff !important;
                }
              }
            }
            .delete-icon-block {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              border: none;
              outline: none;
              background-color: var(--primary-color);
              padding: 0px;
              min-width: auto;
              margin-left: 15px;
              i {
                color: #fff !important;
              }
            }
            .alert-icon-block {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              border: none;
              outline: none;
              background-color: #f00;
              padding: 0px;
              margin-left: 15px;
              min-width: auto;
              i {
                color: #fff !important;
              }
            }
          }
        }
      }
    }
  }
  .table-common-block {
    &.MuiPaper-root {
      border: none;
      box-shadow: none;
    }
    .MuiTable-root {
      .MuiTableHead-root {
        th {
          font-size: 16px;
          line-height: 20px;
          color: #333;
          font-weight: 600;
          padding: 20px;
          text-transform: capitalize;
          border-top: 1px solid rgba(153, 153, 153, 0.4);
          border-bottom: 1px solid rgba(153, 153, 153, 0.4);
          white-space: nowrap;
        }
      }
      .MuiTableBody-root {
        td {
          font-size: 14px;
          line-height: 20px;
          color: rgba(0, 0, 0, 0.4);
          font-family: 'Mulish', sans-serif;
          padding: 15px 20px;
          border-bottom: 1px solid rgba(153, 153, 153, 0.4);
        }
      }
      .no-pad-td {
        padding: 0px;
        border: none;
      }
    }
    table {
      tr {
        th {
          font-size: 16px;
          line-height: 22px;
          color: #333;
          font-weight: 600;
          padding: 20px;
          text-transform: capitalize;
          border-top: 1px solid rgba(153, 153, 153, 0.4);
          border-bottom: 1px solid rgba(153, 153, 153, 0.4);
          white-space: nowrap;
        }
        td {
          font-size: 15px;
          line-height: 20px;
          color: rgba(0, 0, 0, 0.4);
          font-family: 'Mulish', sans-serif;
          padding: 15px 20px;
          border-bottom: 1px solid rgba(153, 153, 153, 0.4);
          &.no-pad-td {
            padding: 0px;
            border: none;
          }
        }
      }
    }
    .common-pagination-block {
      padding: 20px;
      border: none;
    }
  }
  .common-pagination-block {
    padding: 20px;
    border: none;
  }

  .nh-phone-input-wrapper {
    position: relative;
    top: -3px;
    .nh-phone-input-label {
      font-size: 13px;
    }

    .nh-phone-input-container {
      color: var(--mui-palette-text-primary);
      .nh-phone-input-element {
        color: var(--mui-palette-text-primary);
        padding-top: 9px;
        padding-bottom: 9px;
        font-size: 0.9375rem;
        font-weight: 400;
      }
    }
  }
  .card-shadow-common {
    background-color: #fff;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
  }
  .profile-block {
    .profile-block-img {
      label {
        position: relative;
        .MuiAvatar-root {
          border-radius: 10px;
          object-fit: cover;
          border: 2px solid var(--primary-color);
        }
        .edit-profile {
          position: absolute;
          bottom: 10px;
          right: 15px;
          background-color: var(--primary-color);
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          i {
            color: #fff;
          }
        }
      }
    }
    .profile-details {
      .title-semi-medium-custom {
        padding: 20px;
        border-bottom: 1px solid rgba(153, 153, 153, 0.4);
      }
      .profile-details-inner {
        padding: 20px;
      }
    }
  }
  .title-semi-medium-custom {
    font-size: 20px;
    line-height: 24px;
    color: #000;
    font-weight: 500;
    span {
      font-size: 20px;
      line-height: 24px;
      color: #000;
      font-weight: 500;
    }
    .MuiChip-root {
      padding: 5px 25px;
      color: var(--primary-color);
      font-weight: 500;
      height: 33px;
      .MuiChip-label {
        color: var(--primary-color);
      }
    }
    &.font-bold {
      span {
        font-weight: 700;
      }
    }
  }
  .multi-order-custom {
    .tabs-block {
      .MuiTabs-root {
        margin-bottom: 30px;
        border-bottom: 1px solid rgba(153, 153, 153, 0.6);
        .MuiButtonBase-root {
          width: auto;
          max-width: max-content;
          font-size: 16px;
          color: rgba(0, 0, 0, 0.4);
          &.Mui-selected {
            color: var(--primary-color);
          }
        }
      }
    }
    .common-block-dashboard {
      margin-bottom: 30px;
      .common-form-dashboard {
        padding: 20px;
        border-bottom: 1px solid rgba(153, 153, 153, 0.4);
      }
      h5 {
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
        margin: 0px;
      }
      .MuiOutlinedInput-notchedOutline {
        display: none;
      }
      .form-group .MuiFormControl-root .Mui-focused input {
        padding-inline: 20px !important;
      }
      .cart-icon-block {
        position: relative;
        span {
          position: absolute;
          left: 50%;
          top: 50%;
          font-weight: 600;
          color: var(--primary-color);
          font-size: 12px;
          font-family: 'Mulish', sans-serif;
          transform: translate(-50%, -50%);
        }
        svg {
          width: 40px;
          height: 40px;
        }
      }
    }
    .card-category-img {
      padding: 20px;

      .card-category-img-first {
        width: 190px;
        display: none;
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--primary-color) !important;
        p {
          color: #fff;
          font-size: 18px;
          font-weight: 700;
          font-family: 'Mulish', sans-serif;
        }
      }
      .card-category-img-common {
        border-radius: 10px;
        border: 1px solid rgba(153, 153, 153, 0.4);
        padding: 10px 20px;
        min-width: 190px;
        .category-img-block {
          width: 70px;
          height: 70px;
          border-radius: 10px;
          img {
            width: 100% !important;
            height: 100% !important;
            object-fit: cover;
          }
        }
      }
    }
    .menu-selection-block {
      background: transparent;
      padding: 0px;
      border: none;
      box-shadow: none;
      .menu-selection-block-inner {
        padding: 20px;
        background-color: #fff;
        box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.04);
        border-radius: 6px;
        height: 100%;
        .menu-selection-block-inner-content {
          width: 75%;
          .title-medium-custom {
            font-weight: 700;
            margin-bottom: 10px;
            &.theme-color {
              margin-bottom: 0px;
            }
          }
          .disc-common-custom-small {
            margin-bottom: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            /* white-space: nowrap; */
            // height: 60px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            max-width: 400px;
          }
        }
        .menu-selection-block-inner-img {
          position: relative;
          img {
            width: 140px;
            height: 120px;
            border-radius: 20px !important;
            object-fit: cover;
          }
        }
      }
    }
  }
  .menu-selection-block-inner-p-l {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    &.checkout-flex {
      bottom: -18px;
      left: 52%;
    }
    .MuiButtonBase-root {
      width: 36px;
      height: 40px;
      text-align: center;
      background-color: #66a488;
      border: none;
      border-radius: 13px 0px 0px 10px;
      padding: 0px;
      max-width: 40px;
      min-width: 40px;
      i {
        background-color: #fff;
      }
      &.border-radius-block {
        border-radius: 0px 10px 10px 0px;
      }
    }
    .input-block-p {
      text-align: center;
      border-radius: 0px;
      width: 50px;
      height: 40px;
      text-align: center;
      background-color: var(--primary-color);
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      font-family: 'Mulish', sans-serif;
      border: none;
      padding: 9px 0px;
    }
    input {
      text-align: center;
      border-radius: 0px;
      width: 50px;
      height: 40px;
      text-align: center;
      background-color: var(--primary-color);
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      font-family: 'Mulish', sans-serif;
      border: none;
      padding: 0px;
      &::-webkit-input-placeholder {
        color: #fff;
      }
      &:-moz-placeholder {
        color: #fff;
        opacity: 1;
      }
      &::-moz-placeholder {
        color: #fff;
        opacity: 1;
      }
      &:-ms-input-placeholder {
        color: #fff;
      }
      &::-ms-input-placeholder {
        color: #fff;
      }
    }
  }
  .checkout-main-custom {
    .block-chart-common {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 25px 0px;
      .block-chart-inner {
        width: 100% !important;
        height: 200px !important;
        > div {
          width: auto !important;
        }
      }
    }
    .block-chart-table-in {
      .MuiTable-root {
        border: 2px solid rgba(153, 153, 153, 0.2);
        border-radius: 10px;
        border-collapse: inherit;
        .MuiTableHead-root {
          .MuiTableCell-root {
            font-size: 16px;
            line-height: 20px;
            color: #000;
            font-weight: 600;
            text-transform: capitalize;
          }
        }
        .MuiTableCell-root {
          padding: 6px;
          font-family: 'Mulish', sans-serif;
          border-bottom: 2px solid rgba(153, 153, 153, 0.2);
          font-size: 12px;
          color: rgba(0, 0, 0, 0.6);
          white-space: nowrap;
          &:nth-child(2) {
            border-left: 2px solid rgba(153, 153, 153, 0.2);
          }
        }
        .MuiTableRow-root {
          &:last-child {
            td {
              border-bottom: none;
            }
          }
        }
      }
    }
    .user-checkout-block {
      display: flex;
      align-items: center;
      .tabler-icon-block {
        line-height: 1;
        i {
          font-size: 40px;
          color: var(--primary-color);
        }
      }
    }
    .border-none-card {
      margin: 0px;
      border-bottom: 2px solid rgba(153, 153, 153, 0.2);
      border-radius: 0px;
      &:nth-child(1) {
        border-radius: 6px 6px 0px 0px;
      }
      &:last-child {
        border-radius: 0px 0px 6px 6px;
        border: none;
        margin-bottom: 30px;
      }
    }
    .menu-pl-block {
      position: relative;
      .block-img-box {
        width: 140px;
        height: 120px;
      }
    }
  }

  .title-medium-custom {
    font-size: 24px;
    line-height: 30px;
    color: #000;
    font-weight: 500;
    text-transform: capitalize;
    &.theme-color {
      color: var(--primary-color);
    }
  }
  .title-small-medium-custom {
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-weight: 500;
    text-transform: capitalize;
    &.theme-color {
      color: var(--primary-color);
    }
  }
  .title-small-custom {
    font-size: 16px;
    line-height: 20px;
    color: #000;
    font-weight: 500;
    text-transform: capitalize;
  }
  .disc-common-custom {
    font-size: 18px;
    line-height: 22px;
    color: #000;
    font-weight: 500;
    text-transform: capitalize;
  }
  .disc-common-custom-small {
    font-size: 16px;
    line-height: 20px;
    color: #999;
    font-weight: 400;
    text-transform: capitalize;
  }
}

.common-modal-theme {
  &.full-modal {
    .MuiPaper-root {
      max-width: 90%;
    }
  }
  .multi-order-custom {
    .tabs-block {
      .MuiTabs-root {
        margin-bottom: 30px;
        border-bottom: 1px solid rgba(153, 153, 153, 0.6);
        .MuiButtonBase-root {
          width: auto;
          max-width: max-content;
          font-size: 16px;
          color: rgba(0, 0, 0, 0.4);
          &.Mui-selected {
            color: var(--primary-color);
          }
        }
      }
    }
    .common-block-dashboard {
      margin-bottom: 30px;
      .common-form-dashboard {
        padding: 20px;
        border-bottom: 1px solid rgba(153, 153, 153, 0.4);
      }
      h5 {
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
        margin: 0px;
      }
      .MuiOutlinedInput-notchedOutline {
        display: none;
      }
      .form-group .MuiFormControl-root .Mui-focused input {
        padding-inline: 20px !important;
      }
      .cart-icon-block {
        position: relative;
        span {
          position: absolute;
          left: 50%;
          top: 50%;
          font-weight: 600;
          color: var(--primary-color);
          font-size: 12px;
          font-family: 'Mulish', sans-serif;
          transform: translate(-50%, -50%);
        }
        svg {
          width: 40px;
          height: 40px;
        }
      }
    }
    .card-category-img {
      padding: 20px;

      .card-category-img-first {
        width: 190px;
        display: none;
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--primary-color) !important;
        p {
          color: #fff;
          font-size: 18px;
          font-weight: 700;
          font-family: 'Mulish', sans-serif;
        }
      }
      .card-category-img-common {
        border-radius: 10px;
        border: 1px solid rgba(153, 153, 153, 0.4);
        padding: 10px 20px;
        min-width: 190px;
        .category-img-block {
          width: 70px;
          height: 70px;
          border-radius: 10px;
          img {
            width: 100% !important;
            height: 100% !important;
            object-fit: cover;
          }
        }
      }
    }
    .menu-selection-block {
      background: transparent;
      padding: 0px;
      border: none;
      box-shadow: none;
      .menu-selection-block-inner {
        padding: 20px;
        background-color: #fff;
        box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.04);
        border-radius: 6px;
        height: 100%;
        .menu-selection-block-inner-content {
          width: 75%;
          .title-medium-custom {
            font-weight: 700;
            margin-bottom: 10px;
            &.theme-color {
              margin-bottom: 0px;
            }
          }
          .disc-common-custom-small {
            margin-bottom: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            /* white-space: nowrap; */
            // height: 60px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            max-width: 400px;
          }
        }
        .menu-selection-block-inner-img {
          position: relative;
          img {
            width: 140px;
            height: 120px;
            border-radius: 20px !important;
            object-fit: cover;
          }
        }
      }
    }
  }

  .title-medium-custom {
    font-size: 24px;
    line-height: 30px;
    color: #000;
    font-weight: 500;
    text-transform: capitalize;
    &.theme-color {
      color: var(--primary-color);
    }
  }
  .title-small-medium-custom {
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-weight: 500;
    text-transform: capitalize;
  }
  .title-small-custom {
    font-size: 16px;
    line-height: 20px;
    color: #000;
    font-weight: 500;
    text-transform: capitalize;
  }
  .disc-common-custom {
    font-size: 18px;
    line-height: 22px;
    color: #000;
    font-weight: 500;
    text-transform: capitalize;
  }
  .disc-common-custom-small {
    font-size: 16px;
    line-height: 20px;
    color: #999;
    font-weight: 400;
    text-transform: capitalize;
  }
  .MuiBackdrop-root {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .MuiPaper-root {
    overflow: visible;
    .title-medium-custom {
      font-size: 20px;
      line-height: 28px;
      color: #000;
      font-weight: 500;
      text-transform: capitalize;
      text-align: center;
      &.theme-color {
        color: var(--primary-color);
      }
      .MuiIconButton-root {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        background-color: var(--primary-color);
        position: a;
        position: absolute;
        right: 0;
        top: -20px;
        box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.04);
        svg {
          fill: #fff;
        }
      }
    }
    .modal-body-custom {
      .modal-inner-block {
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 20px;
        margin-bottom: 10px;
      }
      .label-block-modal-body {
        display: block;
        .MuiTypography-root {
          font-size: 16px;
          line-height: 20px;
          color: #999;
          font-weight: 500;
          text-transform: capitalize;
          font-family: 'Mulish', sans-serif;
        }
      }
      .block-chart-common {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 25px 0px;
        .block-chart-inner {
          width: 100% !important;
          height: 200px !important;
        }
      }
      .theme-common-btn {
        font-size: 18px;
        font-weight: 700;
        font-family: 'Mulish', sans-serif;
        color: #fff;
        border-radius: 10px;
        padding: 9px 30px;
        max-width: 160px;
        background-color: var(--primary-color);
        white-space: nowrap;
        &.min-width-auto {
          min-width: 160px;
          max-width: initial;
        }
      }
      .modal-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
.menu-management-block {
  .MuiPaper-root {
    background: transparent;
    box-shadow: none;
    .MuiToolbar-root {
      height: auto;
      min-height: inherit;
      padding: 0px;
      .MuiTypography-root {
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
        margin: 0px;
      }
    }
  }
}
.table-block-menu {
  .MuiTabs-root {
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(153, 153, 153, 0.6);
    .MuiButtonBase-root {
      width: auto;
      max-width: max-content;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.4);
      &.Mui-selected {
        color: var(--primary-color);
      }
    }
    .MuiTabs-indicator {
      border-color: var(--primary-color);
      background-color: var(--primary-color);
    }
  }
}

.menu-add-dish-block {
  .MuiPaper-root {
    margin-bottom: 0px;
    height: 100%;
    .icon-btn-fill {
      background-color: var(--primary-color) !important;
      svg {
        fill: #fff;
      }
    }
    .MuiCardContent-root {
      padding-right: 25px !important;
      .font-weight-bold-inner {
        color: rgba(47, 43, 61, 0.9);
        white-space: nowrap;
        font-weight: 600;
      }
      .disc-common-custom-small {
        margin-bottom: 7px;
      }
    }
    .img-block-card {
      .disc-common-custom-small {
        text-align: center;
        margin-top: 15px;
      }
    }
  }
}

.common-loader-custom {
  background-color: #fff !important;
}
.full-width-custom {
  width: 100% !important;
}
.bold-date {
  font-weight: bold !important;
  color: black !important;
  background-color: white !important;
}
